
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(0,0,0,0.85);
    background-color: #fff
}



.file-holder {
    border: 1px solid #e5e5e5
}

.file-holder.file-holder-no-border {
    border: 0
}

.file-holder.readme-holder {
    margin: 10px 0
}

.file-holder .file-title {
    position: relative;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    text-align: left;
    padding: 10px 16px;
    word-wrap: break-word;
    border-radius: 3px 3px 0 0
}

.file-holder .file-title.file-title-clear {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent
}

.file-holder .file-title.file-title-clear .file-actions {
    right: 0
}

.file-holder .file-title .file-actions {
    position: absolute;
    top: 5px;
    right: 15px
}

.file-holder .file-title .file-actions .btn {
    padding: 0 10px;
    font-size: 13px;
    line-height: 28px
}

.file-holder .file-title a:not(.btn) {
    color: rgba(0,0,0,0.85)
}

.file-holder .file-title .left-options {
    margin-top: -3px
}

.file-holder .file-content {
    background: #fff
}

.file-holder .file-content.image_file {
    background: #eee;
    text-align: center
}

.file-holder .file-content.image_file img {
    padding: 20px;
    max-width: 80%
}

.file-holder .file-content.wiki {
    padding: 30px 16px
}

.file-holder .file-content.wiki .highlight {
    margin-bottom: 9px
}

.file-holder .file-content.wiki .highlight>pre {
    margin: 0
}

.file-holder .file-content.blob-no-preview {
    background: #eee;
    text-shadow: 0 1px 2px #fff;
    padding: 100px 0
}

.file-holder .file-content.blame table {
    border: none;
    margin: 0
}

.file-holder .file-content.blame tr {
    border-bottom: 1px solid #eee
}

.file-holder .file-content.blame td:first-child {
    border-left: none
}

.file-holder .file-content.blame td:last-child {
    border-right: none
}

.file-holder .file-content.blame td.blame-commit {
    padding: 0 10px;
    min-width: 400px;
    background: #fafafa
}

.file-holder .file-content.blame td.line-numbers {
    float: none;
    border-left: 1px solid #ddd
}

.file-holder .file-content.blame td.line-numbers i {
    float: none;
    margin-right: 0
}

.file-holder .file-content.blame td.lines {
    padding: 0
}

.file-holder .file-content.logs {
    background: #eee;
    max-height: 700px;
    overflow-y: auto
}

.file-holder .file-content.logs ol {
    margin-left: 40px;
    padding: 10px 0;
    border-left: 1px solid #e5e5e5;
    margin-bottom: 0;
    background: #fff
}

.file-holder .file-content.logs ol li {
    color: #888
}

.file-holder .file-content.logs ol li p {
    margin: 0;
    color: #333;
    line-height: 24px;
    padding-left: 10px
}

.file-holder .file-content.logs ol li:hover {
    background: #f6fafd
}

.file-holder .file-content.code {
    padding: 0
}
